.container-adm{
    width: 550px;
    min-height: 300px;
    background-color: whitesmoke;
    margin-top: 150px;
    margin-left: 100px;
    border: 2px solid #E84752;
    

}
.users-container{
    padding: 20px;
}
.user-info{
    width: 100%;
    background-color: #E84752;
    border-radius: 5px;
    padding: 10px;
  
} 